@using Toys.ViewModels.Contact
@model ContactMessageVM

<div class="contact ">
    <div class="container">
        <div class="row">
            <div class="question-answer col-lg-12">
                <div class="contact-img col-xl-6">
                    <img src="./assets/Img/creative-image-copyright.webp" alt="">
                </div>
                <div class="contact-form col-xl-6 col-lg-12">
                    <h3>Contact us</h3>
                    <h1>Have Questions? </h1>
                    <form asp-validatio-summary="ModelOnly" method="post">
                        <div class="question row">
                            <div class="name-input col-lg-6 col-md-12">
                                <input required asp-for="Name" type="text" placeholder="Name">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="email-input col-lg-6 col-md-12">
                                <input required asp-for="Email" type="email" placeholder="Email">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="phone-input col-lg-6  col-md-12">
                                <input required asp-for="Number" type="tel" placeholder="Phone Number">
                                <span asp-validation-for="Number"></span>
                            </div>
                            <div class="subject-input col-lg-6  col-md-12">
                                <input required asp-for="Subject" type="text" placeholder="Subject">
                                <span asp-validation-for="Subject"></span>
                            </div>
                            <div class="message-input col-lg-12  col-md-12">
                                <textarea required asp-for="Text" placeholder="Write your idea.."></textarea>
                                <span asp-validation-for="Text"></span>
                            </div>
                            
                            <span>@Model?.ErrorMessage</span>

                            
                            <div class="question-button col-lg-12  col-md-12">
                                <button type="submit">Send!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=belebey&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <a href="https://connectionsgame.org/">Connections Game</a>
        </div>
    </div>
</div>
<section id="mail-address">
    <div class="container">
        <div class="row adress-mail-network ">
            <div class="adress col-12 col-lg-4 col-md-12">
                <p>
                    785 15h Street, Office 478
                    De 81566 Berlin, Germany
                </p>
            </div>
            <div class="mail col-12 col-lg-4 col-md-12">
                <p><a href="#">info@example.com</a></p>
                <p><a href="tel:+994513134794">+994513134794</a></p>
            </div>
            <div class="network col-12 col-lg-4 col-md-12">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>