<section id="wishlist">
    <div class="container">
        <div class="row">
            <div class="shop col-12 col-lg-12 col-md-12 col-xs-12">
                <div class="shop-title">
                    <h1>Wishlist</h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="Wishlist-items" class="shop-products col-lg-12 col-md-12 col-xs-12">

            </div>
        </div>
    </div>

</section>
<script src="~/JS/wishlist.js"></script>